# OS system files
.DS_Store
Thumbs.db
*.log

# IDE Settings (Keep workspaces local to your machine)
.idea/
.vscode/
*.iws
*.iml
*.ipr

# Global Environment Variables / Secrets
.env
.env.local
.env.development.local

# Docker Infrastructure Local Databases
# (Prevents raw DB volumes from being pushed to remote repos)
postgres_data/
mysql_data/
.containers/