name: Java CI with Maven

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    container:
      image: maven:3.9.11-amazoncorretto-25

    steps:
      - name: Install System Dependencies
        run: |
          yum install -y tar gzip libXxf86vm libXrender libXtst libXi glib2 gtk3 alsa-lib

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Maven packages
        if: ${{ !env.ACT }}
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn -B -ntp clean install -T 1C -DskipTests